body {
    background-color: #dddddd;
    text-align: center;
}

#board-container {
    background-image: url("images/death-star.jpg");
    display: inline-block;
    padding: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.row {
    /*display: flex;*/
    /*justify-content: space-evenly;*/
}
.cell {
    width: 8vw;
    height: 8vw;
    max-height: 11vh;
    max-width: 11vh;
    display: inline-block;
    margin: 0px;
}

.black {
    /*background-image: url("images/gray-marble.jpg");*/
    background-color: rgba(0,0,0,0.5);
}

.red {
    /*background-image: url("images/white-marble.jpg");*/
    background-color: rgba(255,255,255,0.5);
}

.checker {
    margin: 10%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.red-checker {
    background-image: url("images/x-wing.jpg");
    background-size: cover;
}

.black-checker {
    background-image: url("images/tie-fighter.jpg");
    background-size: cover;
}
