body {
    background-color: #dddddd;
    text-align: center;
}

#board-container {
    background-image: url("images/black-marble.jpg");
    display: inline-block;
    padding: 2%;
}
.row {
    /*display: flex;*/
    /*justify-content: space-evenly;*/
}
.cell {
    width: 10vmin;
    height: 10vmin;
    display: inline-block;
    margin: 0px;
}

.black {
    background-image: url("images/gray-marble.jpg");
}

.white {
    background-image: url("images/white-marble.jpg");
}

.checker {
    margin: 10%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
}

.white-checker {
    background-image: url("images/go-stone-white.png");
    background-size: cover;
}

.black-checker {
    background-image: url("images/go-stone-black.png");
    background-size: cover;
}

.selected {
    margin: 0;
    border: 1vmin solid rgba(255,255,255,0.5);
    background-repeat: no-repeat;
}

.out-of-play {
    /*width: 10vmin;*/
    /*height: 10vmin;*/
}